<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiziton.dataimport.waybill.dao.BillRelationInfoMapper">
  <resultMap id="BaseResultMap" type="com.yiziton.dataimport.waybill.bean.BillRelationInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="waybill_id" jdbcType="VARCHAR" property="waybillId" />
    <result column="customer_bill_id" jdbcType="VARCHAR" property="customerBillId" />
    <result column="order_bill_id" jdbcType="VARCHAR" property="orderBillId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_id, customer_bill_id, order_bill_id, status, create_time, update_time, 
    data_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill_relation_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bill_relation_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yiziton.dataimport.waybill.bean.BillRelationInfo">
    insert into bill_relation_info (id, waybill_id, customer_bill_id, 
      order_bill_id, status, create_time, 
      update_time, data_type)
    values (#{id,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, #{customerBillId,jdbcType=VARCHAR}, 
      #{orderBillId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dataType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yiziton.dataimport.waybill.bean.BillRelationInfo">
    insert into bill_relation_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="customerBillId != null">
        customer_bill_id,
      </if>
      <if test="orderBillId != null">
        order_bill_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="customerBillId != null">
        #{customerBillId,jdbcType=VARCHAR},
      </if>
      <if test="orderBillId != null">
        #{orderBillId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiziton.dataimport.waybill.bean.BillRelationInfo">
    update bill_relation_info
    <set>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="customerBillId != null">
        customer_bill_id = #{customerBillId,jdbcType=VARCHAR},
      </if>
      <if test="orderBillId != null">
        order_bill_id = #{orderBillId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiziton.dataimport.waybill.bean.BillRelationInfo">
    update bill_relation_info
    set waybill_id = #{waybillId,jdbcType=VARCHAR},
      customer_bill_id = #{customerBillId,jdbcType=VARCHAR},
      order_bill_id = #{orderBillId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      data_type = #{dataType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>