<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiziton.dataimport.waybill.dao.CarrierInfoMapper">
  <resultMap id="BaseResultMap" type="com.yiziton.dataimport.waybill.bean.CarrierInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="waybill_id" jdbcType="VARCHAR" property="waybillId" />
    <result column="carrier" jdbcType="VARCHAR" property="carrier" />
    <result column="carrier_code" jdbcType="VARCHAR" property="carrierCode" />
    <result column="pick_up_method" jdbcType="VARCHAR" property="pickUpMethod" />
    <result column="carrier_receiver" jdbcType="VARCHAR" property="carrierReceiver" />
    <result column="carrier_receiver_phone" jdbcType="VARCHAR" property="carrierReceiverPhone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="carrier_address" jdbcType="VARCHAR" property="carrierAddress" />
    <result column="carrier_company_name" jdbcType="VARCHAR" property="carrierCompanyName" />
    <result column="start_sent_area" jdbcType="VARCHAR" property="startSentArea" />
    <result column="carrier_destination" jdbcType="VARCHAR" property="carrierDestination" />
    <result column="carrier_settlement_type" jdbcType="VARCHAR" property="carrierSettlementType" />
    <result column="out_deliver_relayId" jdbcType="VARCHAR" property="outDeliverRelayid" />
    <result column="carrier_departure_time" jdbcType="TIMESTAMP" property="carrierDepartureTime" />
    <result column="carrier_departure_line" jdbcType="VARCHAR" property="carrierDepartureLine" />
    <result column="transfer_bill_id" jdbcType="VARCHAR" property="transferBillId" />
    <result column="limit_arrival_time" jdbcType="TIMESTAMP" property="limitArrivalTime" />
    <result column="actual_arrival_time" jdbcType="TIMESTAMP" property="actualArrivalTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="carrier_bill_id" jdbcType="VARCHAR" property="carrierBillId" />
    <result column="carrier_type" jdbcType="INTEGER" property="carrierType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_id, carrier, carrier_code, pick_up_method, carrier_receiver, carrier_receiver_phone, 
    status, area_id, carrier_address, carrier_company_name, start_sent_area, carrier_destination, 
    carrier_settlement_type, out_deliver_relayId, carrier_departure_time, carrier_departure_line, 
    transfer_bill_id, limit_arrival_time, actual_arrival_time, create_time, update_time, 
    data_type, carrier_bill_id, carrier_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from carrier_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from carrier_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yiziton.dataimport.waybill.bean.CarrierInfo">
    insert into carrier_info (id, waybill_id, carrier, 
      carrier_code, pick_up_method, carrier_receiver, 
      carrier_receiver_phone, status, area_id, 
      carrier_address, carrier_company_name, start_sent_area, 
      carrier_destination, carrier_settlement_type, 
      out_deliver_relayId, carrier_departure_time, 
      carrier_departure_line, transfer_bill_id, limit_arrival_time, 
      actual_arrival_time, create_time, update_time, 
      data_type, carrier_bill_id, carrier_type
      )
    values (#{id,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, #{carrier,jdbcType=VARCHAR}, 
      #{carrierCode,jdbcType=VARCHAR}, #{pickUpMethod,jdbcType=VARCHAR}, #{carrierReceiver,jdbcType=VARCHAR}, 
      #{carrierReceiverPhone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{areaId,jdbcType=VARCHAR}, 
      #{carrierAddress,jdbcType=VARCHAR}, #{carrierCompanyName,jdbcType=VARCHAR}, #{startSentArea,jdbcType=VARCHAR}, 
      #{carrierDestination,jdbcType=VARCHAR}, #{carrierSettlementType,jdbcType=VARCHAR}, 
      #{outDeliverRelayid,jdbcType=VARCHAR}, #{carrierDepartureTime,jdbcType=TIMESTAMP}, 
      #{carrierDepartureLine,jdbcType=VARCHAR}, #{transferBillId,jdbcType=VARCHAR}, #{limitArrivalTime,jdbcType=TIMESTAMP}, 
      #{actualArrivalTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{dataType,jdbcType=INTEGER}, #{carrierBillId,jdbcType=VARCHAR}, #{carrierType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiziton.dataimport.waybill.bean.CarrierInfo">
    insert into carrier_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="carrier != null">
        carrier,
      </if>
      <if test="carrierCode != null">
        carrier_code,
      </if>
      <if test="pickUpMethod != null">
        pick_up_method,
      </if>
      <if test="carrierReceiver != null">
        carrier_receiver,
      </if>
      <if test="carrierReceiverPhone != null">
        carrier_receiver_phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="carrierAddress != null">
        carrier_address,
      </if>
      <if test="carrierCompanyName != null">
        carrier_company_name,
      </if>
      <if test="startSentArea != null">
        start_sent_area,
      </if>
      <if test="carrierDestination != null">
        carrier_destination,
      </if>
      <if test="carrierSettlementType != null">
        carrier_settlement_type,
      </if>
      <if test="outDeliverRelayid != null">
        out_deliver_relayId,
      </if>
      <if test="carrierDepartureTime != null">
        carrier_departure_time,
      </if>
      <if test="carrierDepartureLine != null">
        carrier_departure_line,
      </if>
      <if test="transferBillId != null">
        transfer_bill_id,
      </if>
      <if test="limitArrivalTime != null">
        limit_arrival_time,
      </if>
      <if test="actualArrivalTime != null">
        actual_arrival_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="carrierBillId != null">
        carrier_bill_id,
      </if>
      <if test="carrierType != null">
        carrier_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null">
        #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="carrierCode != null">
        #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="pickUpMethod != null">
        #{pickUpMethod,jdbcType=VARCHAR},
      </if>
      <if test="carrierReceiver != null">
        #{carrierReceiver,jdbcType=VARCHAR},
      </if>
      <if test="carrierReceiverPhone != null">
        #{carrierReceiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="carrierAddress != null">
        #{carrierAddress,jdbcType=VARCHAR},
      </if>
      <if test="carrierCompanyName != null">
        #{carrierCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="startSentArea != null">
        #{startSentArea,jdbcType=VARCHAR},
      </if>
      <if test="carrierDestination != null">
        #{carrierDestination,jdbcType=VARCHAR},
      </if>
      <if test="carrierSettlementType != null">
        #{carrierSettlementType,jdbcType=VARCHAR},
      </if>
      <if test="outDeliverRelayid != null">
        #{outDeliverRelayid,jdbcType=VARCHAR},
      </if>
      <if test="carrierDepartureTime != null">
        #{carrierDepartureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierDepartureLine != null">
        #{carrierDepartureLine,jdbcType=VARCHAR},
      </if>
      <if test="transferBillId != null">
        #{transferBillId,jdbcType=VARCHAR},
      </if>
      <if test="limitArrivalTime != null">
        #{limitArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualArrivalTime != null">
        #{actualArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="carrierBillId != null">
        #{carrierBillId,jdbcType=VARCHAR},
      </if>
      <if test="carrierType != null">
        #{carrierType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiziton.dataimport.waybill.bean.CarrierInfo">
    update carrier_info
    <set>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null">
        carrier = #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="carrierCode != null">
        carrier_code = #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="pickUpMethod != null">
        pick_up_method = #{pickUpMethod,jdbcType=VARCHAR},
      </if>
      <if test="carrierReceiver != null">
        carrier_receiver = #{carrierReceiver,jdbcType=VARCHAR},
      </if>
      <if test="carrierReceiverPhone != null">
        carrier_receiver_phone = #{carrierReceiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="carrierAddress != null">
        carrier_address = #{carrierAddress,jdbcType=VARCHAR},
      </if>
      <if test="carrierCompanyName != null">
        carrier_company_name = #{carrierCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="startSentArea != null">
        start_sent_area = #{startSentArea,jdbcType=VARCHAR},
      </if>
      <if test="carrierDestination != null">
        carrier_destination = #{carrierDestination,jdbcType=VARCHAR},
      </if>
      <if test="carrierSettlementType != null">
        carrier_settlement_type = #{carrierSettlementType,jdbcType=VARCHAR},
      </if>
      <if test="outDeliverRelayid != null">
        out_deliver_relayId = #{outDeliverRelayid,jdbcType=VARCHAR},
      </if>
      <if test="carrierDepartureTime != null">
        carrier_departure_time = #{carrierDepartureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierDepartureLine != null">
        carrier_departure_line = #{carrierDepartureLine,jdbcType=VARCHAR},
      </if>
      <if test="transferBillId != null">
        transfer_bill_id = #{transferBillId,jdbcType=VARCHAR},
      </if>
      <if test="limitArrivalTime != null">
        limit_arrival_time = #{limitArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualArrivalTime != null">
        actual_arrival_time = #{actualArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="carrierBillId != null">
        carrier_bill_id = #{carrierBillId,jdbcType=VARCHAR},
      </if>
      <if test="carrierType != null">
        carrier_type = #{carrierType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiziton.dataimport.waybill.bean.CarrierInfo">
    update carrier_info
    set waybill_id = #{waybillId,jdbcType=VARCHAR},
      carrier = #{carrier,jdbcType=VARCHAR},
      carrier_code = #{carrierCode,jdbcType=VARCHAR},
      pick_up_method = #{pickUpMethod,jdbcType=VARCHAR},
      carrier_receiver = #{carrierReceiver,jdbcType=VARCHAR},
      carrier_receiver_phone = #{carrierReceiverPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=VARCHAR},
      carrier_address = #{carrierAddress,jdbcType=VARCHAR},
      carrier_company_name = #{carrierCompanyName,jdbcType=VARCHAR},
      start_sent_area = #{startSentArea,jdbcType=VARCHAR},
      carrier_destination = #{carrierDestination,jdbcType=VARCHAR},
      carrier_settlement_type = #{carrierSettlementType,jdbcType=VARCHAR},
      out_deliver_relayId = #{outDeliverRelayid,jdbcType=VARCHAR},
      carrier_departure_time = #{carrierDepartureTime,jdbcType=TIMESTAMP},
      carrier_departure_line = #{carrierDepartureLine,jdbcType=VARCHAR},
      transfer_bill_id = #{transferBillId,jdbcType=VARCHAR},
      limit_arrival_time = #{limitArrivalTime,jdbcType=TIMESTAMP},
      actual_arrival_time = #{actualArrivalTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      data_type = #{dataType,jdbcType=INTEGER},
      carrier_bill_id = #{carrierBillId,jdbcType=VARCHAR},
      carrier_type = #{carrierType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>