<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiziton.dataimport.waybill.dao.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.yiziton.dataimport.waybill.bean.GoodsInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="waybill_id" jdbcType="VARCHAR" property="waybillId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="customer_goods_code" jdbcType="VARCHAR" property="customerGoodsCode" />
    <result column="customer_goods_name" jdbcType="VARCHAR" property="customerGoodsName" />
    <result column="install_items" jdbcType="INTEGER" property="installItems" />
    <result column="packing_items" jdbcType="INTEGER" property="packingItems" />
    <result column="volume" jdbcType="DOUBLE" property="volume" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="install_fee" jdbcType="DOUBLE" property="installFee" />
    <result column="delivery_fee" jdbcType="DOUBLE" property="deliveryFee" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="packing" jdbcType="INTEGER" property="packing" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_id, goods_code, goods_name, customer_goods_code, customer_goods_name, 
    install_items, packing_items, volume, weight, install_fee, delivery_fee,
    status, create_time, update_time, data_type, packing
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yiziton.dataimport.waybill.bean.GoodsInfo">
    insert into goods_info (id, waybill_id, goods_code, 
      goods_name, customer_goods_code, customer_goods_name, 
      install_items, packing_items, volume, 
      weight, install_fee, delivery_fee, 
      /*goods_type, */status, create_time,
      update_time, data_type, packing
      )
    values (#{id,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{customerGoodsCode,jdbcType=VARCHAR}, #{customerGoodsName,jdbcType=VARCHAR}, 
      #{installItems,jdbcType=INTEGER}, #{packingItems,jdbcType=INTEGER}, #{volume,jdbcType=DOUBLE}, 
      #{weight,jdbcType=DOUBLE}, #{installFee,jdbcType=DOUBLE}, #{deliveryFee,jdbcType=DOUBLE}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{dataType,jdbcType=INTEGER}, #{packing,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiziton.dataimport.waybill.bean.GoodsInfo">
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="customerGoodsCode != null">
        customer_goods_code,
      </if>
      <if test="customerGoodsName != null">
        customer_goods_name,
      </if>
      <if test="installItems != null">
        install_items,
      </if>
      <if test="packingItems != null">
        packing_items,
      </if>
      <if test="volume != null">
        volume,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="installFee != null">
        install_fee,
      </if>
      <if test="deliveryFee != null">
        delivery_fee,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="packing != null">
        packing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="customerGoodsCode != null">
        #{customerGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="customerGoodsName != null">
        #{customerGoodsName,jdbcType=VARCHAR},
      </if>
      <if test="installItems != null">
        #{installItems,jdbcType=INTEGER},
      </if>
      <if test="packingItems != null">
        #{packingItems,jdbcType=INTEGER},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="installFee != null">
        #{installFee,jdbcType=DOUBLE},
      </if>
      <if test="deliveryFee != null">
        #{deliveryFee,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="packing != null">
        #{packing,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiziton.dataimport.waybill.bean.GoodsInfo">
    update goods_info
    <set>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="customerGoodsCode != null">
        customer_goods_code = #{customerGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="customerGoodsName != null">
        customer_goods_name = #{customerGoodsName,jdbcType=VARCHAR},
      </if>
      <if test="installItems != null">
        install_items = #{installItems,jdbcType=INTEGER},
      </if>
      <if test="packingItems != null">
        packing_items = #{packingItems,jdbcType=INTEGER},
      </if>
      <if test="volume != null">
        volume = #{volume,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="installFee != null">
        install_fee = #{installFee,jdbcType=DOUBLE},
      </if>
      <if test="deliveryFee != null">
        delivery_fee = #{deliveryFee,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="packing != null">
        packing = #{packing,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiziton.dataimport.waybill.bean.GoodsInfo">
    update goods_info
    set waybill_id = #{waybillId,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      customer_goods_code = #{customerGoodsCode,jdbcType=VARCHAR},
      customer_goods_name = #{customerGoodsName,jdbcType=VARCHAR},
      install_items = #{installItems,jdbcType=INTEGER},
      packing_items = #{packingItems,jdbcType=INTEGER},
      volume = #{volume,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      install_fee = #{installFee,jdbcType=DOUBLE},
      delivery_fee = #{deliveryFee,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      data_type = #{dataType,jdbcType=INTEGER},
      packing = #{packing,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>