<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiziton.dataimport.waybill.dao.MilestoneInfoMapper">
  <resultMap id="BaseResultMap" type="com.yiziton.dataimport.waybill.bean.MilestoneInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="waybill_id" jdbcType="VARCHAR" property="waybillId" />
    <result column="related_bill_id" jdbcType="VARCHAR" property="relatedBillId" />
    <result column="operation" jdbcType="INTEGER" property="operation" />
    <result column="operation_type" jdbcType="INTEGER" property="operationType" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operation_sys" jdbcType="VARCHAR" property="operationSys" />
    <result column="operation_oganization" jdbcType="VARCHAR" property="operationOganization" />
    <result column="next_node_restict_time" jdbcType="TIMESTAMP" property="nextNodeRestictTime" />
    <result column="sent_time" jdbcType="TIMESTAMP" property="sentTime" />
    <result column="message_from" jdbcType="VARCHAR" property="messageFrom" />
    <result column="api_name" jdbcType="VARCHAR" property="apiName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, waybill_id, related_bill_id, operation, operation_type, operate_time, operator, 
    operation_sys, operation_oganization, next_node_restict_time, sent_time, message_from, 
    api_name, status, create_time, update_time, data_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from milestone_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from milestone_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yiziton.dataimport.waybill.bean.MilestoneInfo">
    insert into milestone_info (id, waybill_id, related_bill_id, 
      operation, operation_type, operate_time, 
      operator, operation_sys, operation_oganization, 
      next_node_restict_time, sent_time, message_from, 
      api_name, status, create_time, 
      update_time, data_type)
    values (#{id,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, #{relatedBillId,jdbcType=VARCHAR}, 
      #{operation,jdbcType=INTEGER}, #{operationType,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR}, #{operationSys,jdbcType=VARCHAR}, #{operationOganization,jdbcType=VARCHAR}, 
      #{nextNodeRestictTime,jdbcType=TIMESTAMP}, #{sentTime,jdbcType=TIMESTAMP}, #{messageFrom,jdbcType=VARCHAR}, 
      #{apiName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dataType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yiziton.dataimport.waybill.bean.MilestoneInfo">
    insert into milestone_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="relatedBillId != null">
        related_bill_id,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operationSys != null">
        operation_sys,
      </if>
      <if test="operationOganization != null">
        operation_oganization,
      </if>
      <if test="nextNodeRestictTime != null">
        next_node_restict_time,
      </if>
      <if test="sentTime != null">
        sent_time,
      </if>
      <if test="messageFrom != null">
        message_from,
      </if>
      <if test="apiName != null">
        api_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="relatedBillId != null">
        #{relatedBillId,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operationSys != null">
        #{operationSys,jdbcType=VARCHAR},
      </if>
      <if test="operationOganization != null">
        #{operationOganization,jdbcType=VARCHAR},
      </if>
      <if test="nextNodeRestictTime != null">
        #{nextNodeRestictTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sentTime != null">
        #{sentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageFrom != null">
        #{messageFrom,jdbcType=VARCHAR},
      </if>
      <if test="apiName != null">
        #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiziton.dataimport.waybill.bean.MilestoneInfo">
    update milestone_info
    <set>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="relatedBillId != null">
        related_bill_id = #{relatedBillId,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operationSys != null">
        operation_sys = #{operationSys,jdbcType=VARCHAR},
      </if>
      <if test="operationOganization != null">
        operation_oganization = #{operationOganization,jdbcType=VARCHAR},
      </if>
      <if test="nextNodeRestictTime != null">
        next_node_restict_time = #{nextNodeRestictTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sentTime != null">
        sent_time = #{sentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageFrom != null">
        message_from = #{messageFrom,jdbcType=VARCHAR},
      </if>
      <if test="apiName != null">
        api_name = #{apiName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiziton.dataimport.waybill.bean.MilestoneInfo">
    update milestone_info
    set waybill_id = #{waybillId,jdbcType=VARCHAR},
      related_bill_id = #{relatedBillId,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=INTEGER},
      operation_type = #{operationType,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      operation_sys = #{operationSys,jdbcType=VARCHAR},
      operation_oganization = #{operationOganization,jdbcType=VARCHAR},
      next_node_restict_time = #{nextNodeRestictTime,jdbcType=TIMESTAMP},
      sent_time = #{sentTime,jdbcType=TIMESTAMP},
      message_from = #{messageFrom,jdbcType=VARCHAR},
      api_name = #{apiName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      data_type = #{dataType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>